// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body {
  padding-top: 20px;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
  margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
  display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
  display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
  display: none;
}