<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects/new">Create new project <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse by Type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Type.all.each do |type| %>
            <%= link_to type.name, type_path(type), class: "dropdown-item" %>
          <%end%>
        </div>
    </ul>
      <div class="nav-item">
        <% if logged_in? %>
          <%= link_to "#{current_user.name.titleize}", user_path(current_user), class: "nav-link", id: "nav_color" %>
        <% else %>
          <a class="nav-link" href="/signup">Sign up</a>
        <% end %>
      </div>
      <div class="nav-item">
        <% if logged_in? %>
          <%= link_to "Logout", logout_path, method: "delete", class: "nav-link", id: "nav_color" %>
        <% else %>
          <a class="nav-link" href="/signin">Sign in</a>
        <% end %>
      </div>
  </div>
</nav>